* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  height: 124px;
}

.content {
  flex-grow: 1;
  min-height: 72.5vh;
  background: linear-gradient(180deg, rgba(245, 245, 145, 0.00)1.04%, #F5F5F5 100%);
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  gap: 4px;
}

.btn-logIn {
  border-radius: 2px;
  background: #1890FF;
  color: #FFF;
  width: 98px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  line-height: 24px;
  border: none;
}

.btn-cart {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
  width: 116px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}

.header-logo {
  display: flex;
}

.logo {
  width: 100px;
}

/* .content {} */

.bottom {
  height: 124px;
}

.bottom-logo {
  width: 43px;
  display: flex;
}

.nav {
  flex-grow: 1;
}

.top-text {
  width: 57px;
  flex-grow: 1;
}

.logo {
  display: flex;
}

.bottom-box {
  padding: 60px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  flex-grow: 1;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.nav ul li {
  color: #595959;
  font-weight: 400;
}

.bottom-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.banner {
  margin-bottom: 55px;
}

.banner-item {
  background-image: url(/imges/BannerIMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}

.banner-item--title {
  max-width: 50%;
  color: #302C34;
  font-size: 39px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  max-width: 50%;
  color: #302C34;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}


.products {}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-header--title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products-header--search {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  height: 34px;
  min-width: 306px;
  padding: 5px 12px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #D9D9D9;
}

.products-header--search::placeholder {
  color: #BFBFBF;
  line-height: 24px;
}


@media (max-width: 900px) {
  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }
}