* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  height: 124px;
}

.content {
  flex-grow: 1;
  min-height: 72.5vh;
  background: linear-gradient(180deg, rgba(245, 245, 145, 0.00)1.04%, #F5F5F5 100%);
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  cursor: pointer;
}

.btn-logIn {
  border-radius: 2px;
  background: #1890FF;
  color: #FFF;
  width: 98px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  line-height: 24px;
  border: none;
}

.btn-cart {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
  width: 116px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}

.closing-btn {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  padding: 8px 16px;
}

.controls {
  display: flex;
  gap: 25px;
  align-items: center;
}

.in-cart {
  display: flex;
  align-items: center;
  background-color: #1890FF;
  border: none;
  color: #FFF;
}


.header-logo {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.logo {
  width: 100px;
}

/* .content {} */

.bottom {
  height: 124px;
}

.bottom-logo {
  width: 43px;
  display: flex;
}

.nav {
  flex-grow: 1;
}

.top-text {
  width: 57px;
  flex-grow: 1;
}

.logo {
  display: flex;
}

.bottom-box {
  padding: 60px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  flex-grow: 1;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.nav ul li {
  color: #595959;
  font-weight: 400;
}

.bottom-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.banner {
  margin-bottom: 55px;
}

.banner-item {
  background-image: url(/images/BannerIMG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
  background-color: #FFF1B8;
}


.banner-item--title {
  max-width: 50%;
  color: #302C34;
  font-size: 39px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  max-width: 50%;
  color: #302C34;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}


.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.products-header--title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.products-header--search {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  height: 34px;
  min-width: 306px;
  padding: 5px 12px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #D9D9D9;
}

.products-header--search::placeholder {
  color: #BFBFBF;
  line-height: 24px;
}



.products-wrapper {
  margin: 50px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.product-card {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  background: #FFF;
  overflow: hidden;
  text-decoration: none;
}

.product-card-img img {
  width: 100%;
}


.product-card-description {
  padding: 20px 24px 34px 24px;
}

.product-card-description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-description-row:not(:last-child) {
  margin-bottom: 10px 0 0 0;
}

.product-card-description-title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.product-card-description-cookingTime {
  background-color: #262626;
  padding: 1px 8px 1px 8px;
  gap: 10px;
  border-radius: 2px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  font-style: normal;
}

.product-card-description-raiting {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
  flex-wrap: nowrap;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sushi-price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}



.product-card-description-star {
  color: #FFC107;
}

.product-card-description-name {
  margin: 0;
  padding-bottom: 10px;
  color: #000;
  font-size: 24px;
  line-height: 32px;
}

.product-card-description-text {
  margin: 0;
  padding-bottom: 10px;
  color: #8C8C8C;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.card-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.40);
  align-items: center;
  justify-content: center;
}

.card-modal-overlay.unhidden {
  display: block;
}

.card-modal {
  max-width: 780px;
  width: 100%;
  padding: 40px 45px;
  background: #FFF;
}

.card-modal-top {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.card-modal-top h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 48px;
  margin: 0;
}

.card-modal-top img {
  cursor: pointer;
}

.card-modal-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}

.card-modal-middle {
  margin-top: 50px
}

.card-modal-middle-price {
  border-radius: 5px;
  background: #262626;
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 15px 20px;
}

.card-modal-middle-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item:not(:last-child) {
  padding-bottom: 8px;
  margin-bottom: 17px;
  border-bottom: 1px solid #D9D9D9;
}


.card-item-title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.card-item-controls {
  display: flex;
  align-items: center;
}

.card-item-controls button {
  border: 1px solid #40A9FF;
  background-color: #FFF;
  color: #40A9FF;
}

.controls-price {
  margin-right: 47px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.controls-price-count {
  padding: 0;
  margin: 0 15px;
}

*/ @media (max-width: 991px) {
  .banner-item {
    background-image: none;
  }

  .product-card {
    width: calc(((100% - 24px) / 2));
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}